
.button-width{
  width: 80%;
}

.button-top-margin{
  margin-top: 10px;
}

.form-box{
  border-radius: 20px;
  border: 1px solid #eaeaea;
  padding: 20px 7%  20px 7% ;
}

.block-paddding{
  padding: 30% 20% 20% 30%
}

