<div class="row">
  <div *ngIf="errorMessage != ''" class="alert alert-danger">
    <p class="text-center text-danger">{{errorMessage}}</p>
  </div>
  <div>
    <button class="btn btn-orange center-block" [routerLink]="['insert']">Unesi kino dvoranu</button>
    <hr/>
    <label> Pretraži kino dvorane </label>
    <input class="form-control" type="text" placeholder="Upiši ime kino dvorane" #searchName>
    <button class="btn btn-orange center-block margin-top-button" (click)="searchCinemaHalls(searchName.value)">Pretraživanje</button>
    <hr/>
  </div>

  <div class="row" *ngIf="cinemaHalls.length == 0">
    <div class="col-xs-12">
      <p class="text-danger text-center margin-button text-size-no-more"> Nema kino dvorane</p>
    </div>
  </div>

  <div *ngIf="cinemaHalls.length > 0" class="margin-top">
    <div class="row text-center">
      <table class="table center">
        <thead>
        <tr>
          <th >Naziv dvorane</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cinemaHall of cinemaHalls| paginate: {itemsPerPage: 10, currentPage: pageNumber, totalItems: amountOfCinemaHalls}">
          <td>{{cinemaHall.name}}</td>
          <td><button class="btn btn-danger" type="button" (click)="deleteCinemaHall(cinemaHall.id,  cinemaHall.name)">IZBRIŠI</button></td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <pagination-controls class="text-center"
                       previousLabel=""
                       nextLabel=""
                       (pageChange)="onPageChange($event)">

  </pagination-controls>
</div>

