.block-padding{
  padding: 10% 20% 20% 20%
}

.block-padding1{
  padding: 30% 20% 20% 30%
}

.width-block {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.email-send-width{
  width: 30%;
}

.padding-block2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.margin-top {
  margin-top: 15px;
}

.margin-bottom {
  margin-bottom: 15px;
}

